.html{
    font-size: 62.5%;
}
:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.review .heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 45px;
    background-color: rgb(240, 212, 217);
    padding: 25px;
    font-weight: 900;
    
}
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color:var(--pink);
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#999;
}

span{
    color: #e84393;
}
.review .box-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

/* ------------------------------------------------------ */
.contact .heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 45px;
    background-color: rgb(240, 212, 217);
    padding: 25px;
    font-weight: 900;
}
.contact .row{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}


.contact .row .form{
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row .form .box{
    padding:1rem;
    font-size: 1.5rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}
.contact .row .form .btn{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
    background-color: rgb(27, 24, 25);
    padding: 10px;
    border-radius: 100px;
    width: 30vh;
}
.contact .row .form .btn:hover{
    background-color: #e84393;
}

.contact .row .form .box:focus{
    border-color: var(--pink);
}

.contact .row .form textarea{
    height: 15rem;
    resize: none;
}


